body {

  background: linear-gradient(#1e1e2f, #1e1e24) !important;
  min-height: 100vh;
  float: right;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;

}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 90%;
}

.navbar-light {
  background: transparent !important;
}

.auth-wrapper {
  display: flex;
  text-align: left;
}

.auth-inner {
  background: #27293d;
  width: 500px;
  margin: auto;


  padding: 40px 55px 45px 55px;
  border-radius: 5px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: #e14eca !important;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: left;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: left;
  font-size: 13px;
  padding-top: 10px;
  color: #fcfcfc;
  margin: 0;
}

.forgot-password a {
  color: #cc3ab6;
}


.custom-input {
  border: 1px solid blue;
}

.form-control {
  border-color: #2b3553 !important;
  background: transparent !important;
  border-radius: 0.3285rem;
  font-size: .7500000025rem;

}

.form-control {

  background-clip: padding-box;
  background-color: transparent;
  border: 1px solid #cad1d7;
  border-radius: 0.25rem;
  box-shadow: none;
  color: hsla(0, 0%, 100%, .8);
  display: block;
  font-size: .875rem;
  font-weight: 400;
  height: calc(2.25rem + 2px);
  line-height: 1.428571;
  padding: 0.5rem 0.7rem;
  transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
  width: 100%;
}

.form-group,
.input-group {
  margin-bottom: 10px;
  position: relative;
}

.btn-primary {
  background: #e14eca;
  background-color: #e14eca;
  background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
  background-position: 100% 0;
  background-size: 210% 210%;
  box-shadow: none;
  color: #fff;
  transition: all .15s ease;
}



#my-input {
  color: rgb(255, 255, 255);

}

#my-input::placeholder {
  color: rgb(255, 255, 255);

}